@model SheetMusic.Models.Piece

@{
    ViewBag.Title = "Delete";
}
<head>
    <link rel=" stylesheet" type="text/css" href="~/Custom_Style/Custom Layout.css" />

    <style>
        dl {
            background-color: #357cb4;
            color: white;
            padding: 20px;
            border-radius: 25px;
        }
    </style>
</head>

<h2>Delete - @Html.DisplayFor(model => model.PieceName)</h2>
<h4>@Html.DisplayFor(model => model.PieceSubName)</h4>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2">Title:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PieceName)
        </dd>

        <dt>
            <label class="control-label col-md-2">Subtitle:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PieceSubName)
        </dd>

        <dt>
            <label class="control-label col-md-2">Artist:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            <label class="control-label col-md-2">Genre:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            <label class="control-label col-md-2">Year:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            <label class="control-label col-md-2">Difficulty:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>

        <dt>
            <label class="control-label col-md-2">Description:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color" style="text-align:center">
        <h3>Are you sure you want to delete this?</h3>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" }) |
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
    }
</div>

@if (!Request.IsAuthenticated)
{
    Response.Redirect(Url.Action("Login", "Account"));
}
