@model SheetMusic.Models.Piece
@using System.EnterpriseServices
@using System.ServiceModel.Syndication
@using System.Web.UI.WebControls
@using WebMatrix.Data;
@using Microsoft.AspNet.Identity;
@using SheetMusic.iAz_Magic
@using SheetMusic.Models
@{
    ViewBag.Title = "Details";
}

<head>
    <link rel=" stylesheet" type="text/css" href="~/Custom_Style/Custom Layout.css" />

    <style>
        dl {
            background-color: #357cb4;
            color: white;
            padding: 20px;
            border-radius: 25px;
        }
    </style>
</head>

<h2>Details - @Html.DisplayFor(model => model.PieceName)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.PieceSubName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2">Title:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PieceName)
        </dd>

        <dt>
            <label class="control-label col-md-2">Subtitle:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PieceSubName)
        </dd>

        <dt>
            <label class="control-label col-md-2">Artist:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            <label class="control-label col-md-2">Genre:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            <label class="control-label col-md-2">Year:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            <label class="control-label col-md-2">Difficulty:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>

        <dt>
            <label class="control-label col-md-2">Description:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p style="text-align:center">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
</p>

@if (!Request.IsAuthenticated)
{
    Response.Redirect(Url.Action("Login", "Account"));
}
