@model IEnumerable<SheetMusic.Models.Piece>
@using System.EnterpriseServices
@using System.ServiceModel.Syndication
@using System.Web.UI.WebControls
@using WebMatrix.Data;
@using Microsoft.AspNet.Identity;
@using SheetMusic.iAz_Magic
@using SheetMusic.Models
@{
    ViewBag.Title = "Details";

    var _id = Request.QueryString["id"];

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Sheetz.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    var detailed = db.Query("SELECT * FROM Pieces WHERE Id = @0", _id);
}

<head>
    <link rel=" stylesheet" type="text/css" href="~/Custom_Style/Custom Layout.css" />

    <style>
        .Matrix {
            background-color: #357cb4;
            color: white;
            padding: 20px;
            border-radius: 25px;
        }
    </style>
</head>

@foreach (var record in detailed)
{
    <h2>Details - @record.PieceName</h2>
    <H4>@record.PieceSubName</H4>
}
<hr />

@foreach (var record in detailed)
{
    <dl class="dl-horizontal Matrix">
        <dt>
            <label class="control-label col-md-2">Title:</label>
        </dt>

        <dd>
            @record.PieceName
        </dd>

        <dt>
            <label class="control-label col-md-2">Subtitle:</label>
        </dt>

        <dd>
            @record.PieceSubName
        </dd>

        <dt>
            <label class="control-label col-md-2">Artist:</label>
        </dt>

        <dd>
            @record.Artist
        </dd>

        <dt>
            <label class="control-label col-md-2">Genre:</label>
        </dt>

        <dd>
            @record.Genre
        </dd>

        <dt>
            <label class="control-label col-md-2">Year:</label>
        </dt>

        <dd>
            @record.Year
        </dd>

        <dt>
            <label class="control-label col-md-2">Difficulty:</label>
        </dt>

        <dd>
            @record.Difficulty
        </dd>

        <dt>
            <label class="control-label col-md-2">Description:</label>
        </dt>

        <dd>
            @record.Description
        </dd>

    </dl>

    <p style="text-align:center">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" }) |
        <a class="btn btn-warning" href="~/Pieces/Edit?id=@record.Id">Edit</a>
    </p>
}

@if (!Request.IsAuthenticated)
{
    Response.Redirect(Url.Action("Login", "Account"));
}
