@model IEnumerable<SheetMusic.Models.Piece>
@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@using SheetMusic.iAz_Magic
@using WebMatrix.Data
@{
    ViewBag.Title = "Edit";

    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Sheetz.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    var _key = User.Identity.GetUserId();

    var toEdit = db.QuerySingle("SELECT * FROM Pieces WHERE Id = @0", Request.QueryString["id"]);

    if (IsPost)
    {
        var musicName = Request["musicName"];
        var musicSubName = Request["musicSubName"];
        var musicArtist = Request["musicArtist"];
        var musicYear = Request["musicYear"].ToString();
        var musicDescription = Request["musicDescription"];
        var musicGenre = Request["musicGenre"];
        var musicDifficulty = Request["musicDifficulty"];

        Database_Management.EditintoDatabase(musicName, musicSubName, musicGenre, musicArtist, musicYear, musicDescription, musicDifficulty, _key);
    }

}

<head>
    <link rel=" stylesheet" type="text/css" href="~/Custom_Style/Custom Layout.css" />

    <style>
        dl {
            background-color: #357cb4;
            color: white;
            padding: 20px;
            padding-top: 28px;
            border-radius: 25px;
        }

        input,
        select,
        textarea {
            max-width: 350px;
        }
    </style>
</head>

<h2>Edit - @toEdit.PieceName</h2>
<h4>Edit the form to your wish and click submit to change.</h4>
<hr />

<div>
    <form method="post" action="Index.cshtml">
        <label for="musicName">Muziekstuk naam:</label>
        <input type="text" value="@toEdit.PieceName" placeholder="Muziekstuk naam" name="musicName" /><br />

        <label for="musicSubName">Muziekstuk subnaam:</label>
        <input type="text" value="@toEdit.PieceSubName" placeholder="Muziek subnaam." name="musicSubName" /><br />

        <label for="musicArtist">Muziekstuk componist:</label>
        <input type="text" value="@toEdit.Artist" placeholder="Muziek componist." name="musicArtist" /><br />

        <label for="musicYear">Muziekstuk jaar:</label>
        <input type="number" value="@toEdit.Year" placeholder="Muziek jaar." name="musicYear" /><br />

        <label for="musicDescription">Waar ligt het muziekstuk?</label>
        <input type="text" value="@toEdit.Description" placeholder="Plek van stuk" name="musicDescription" /><br />

        <label for="musicGenre">Muziek genre:</label>
        <select  name="musicGenre">
            <option value="Rock">Rock</option>
            <option value="Caribbean">Caribbean</option>
            <option value="Pop">Pop</option>
            <option value="Hip Hop">Hip Hop</option>
            <option value="Blues">Blues</option>
            <option value="Country">Country</option>
            <option value="R&B Soul">R&B Soul</option>
            <option value="Jazz">Jazz</option>
            <option value="Electronic">Electronic</option>
            <option value="Anime">Anime</option>
        </select><br />

        <label for="musicDifficulty">Moeilijksheid graad</label>
        <select name="musicDifficulty">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Expert">Expert</option>
            <option value="Expert Plus">Expert Plus</option>
        </select><br />
        <div style="text-align:center">
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </form>
</div>

@if (!Request.IsAuthenticated)
{
    Response.Redirect(Url.Action("Login", "Account"));
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
